.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;  
}

.form input + input,
.form button {
  margin-top: .5rem;
}
